/*
html, .section, .hero, footer{
    background-color: #bbb !important;
}
*/
.has-background-white-bis {
  background-color: hsl(0deg, 0%, 98%);
}

.bulma table {
  table-layout: fixed;
}
.bulma table th, .bulma table td {
  word-wrap: break-word;
}
.bulma .icon svg {
  height: 1em !important;
}
.bulma .menu-item li {
  margin-bottom: 0.75rem;
}
.bulma .menu-item li a {
  display: flex;
  align-items: center;
}
.bulma .menu-item li .icon.is-small {
  margin-right: 0.75rem;
}
.bulma .card.has-icons-left .rounded-circle {
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.bulma .card.has-icons-left p {
  font-weight: 500;
}
.bulma .card.has-border-right {
  justify-content: space-evenly;
}
.bulma .card.has-border-right .hr {
  border-right: thin solid hsl(0deg, 0%, 86%);
  -o-border-image: linear-gradient(to bottom, #fff 0, #fff 15%, hsl(0deg, 0%, 93%) 50%, #fff 85%, #fff 100%);
     border-image: linear-gradient(to bottom, #fff 0, #fff 15%, hsl(0deg, 0%, 93%) 50%, #fff 85%, #fff 100%);
  border-image-slice: 1;
}
.bulma .card.has-notification .card-footer {
  border-bottom: 1px solid hsl(0deg, 0%, 93%);
}
.bulma .card.has-notification .card-footer a {
  color: hsl(0deg, 0%, 29%);
}
.bulma .card.has-notification .card-footer a:hover {
  color: hsl(217deg, 71%, 53%);
}
.bulma .card.has-notification .card-footer a .icon {
  margin-right: 0.4rem;
}
.bulma .card.has-notification .notification {
  border-radius: 4px;
}
.bulma .card.has-listing .card-content {
  border-bottom: 1px solid hsl(0deg, 0%, 93%);
}
.bulma .card.has-listing .card-content:last-child {
  border-bottom: none;
}
.bulma .card.has-listing .card-content .media-content .title a {
  color: hsl(0deg, 0%, 29%);
}
.bulma .card.has-listing .card-content .media-content .title a:hover {
  color: hsl(217deg, 71%, 53%);
}
.bulma .card .card-header-buttons {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
}
.bulma .sidebar-right .card-content {
  padding: 1rem 1.5rem;
}
.bulma .block.is-grouped a {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  margin-right: 0.75rem;
  padding-right: 0.7rem;
  border-right: 1px solid hsl(0deg, 0%, 93%);
}
.bulma .block.is-grouped a:last-child {
  margin-right: 0;
  margin-left: 0;
  border-right: none;
}
.bulma .block.is-grouped a .icon {
  margin-right: 0.5rem;
}
.bulma .draggable .dropzone-nested {
  border: dashed #b5b5b5;
  border-width: 1px 0 0 1px;
  margin: 5px 5px 5px 0;
  padding: 5px 5px 25px 15px;
}
.bulma .draggable .dropzone-nested li:not(:last-child) {
  margin-bottom: 12px;
}
.bulma .draggable .dropzone .dropzone-field-label {
  min-width: 150px;
}
.bulma .draggable .drag {
  cursor: grab;
}
.bulma .settings-notifications .tab-content .notification-lines {
  border: 1px solid rgba(72, 94, 144, 0.16);
}
.bulma .settings-notifications .tab-content .notification-lines .field.has-addons {
  border-top: 1px solid rgba(72, 94, 144, 0.16);
}
.bulma .settings-notifications .tab-content .notification-lines .field.has-addons .control .is-static {
  width: 100px;
}
.bulma .settings-notifications .tab-content .notification-lines .field.has-addons .textarea, .bulma .settings-notifications .tab-content .notification-lines .field.has-addons .button, .bulma .settings-notifications .tab-content .notification-lines .field.has-addons .input {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.bulma .settings-notifications .tab-content .notification-lines .field.has-addons .textarea {
  height: 60px;
}
