.p-panel-header{
    padding: 0.5rem 0.8rem !important;
}

.p-inputswitch-sm{
    height: 1.2rem !important;
}

.p-inputswitch-sm .p-inputswitch-slider:before{
    height: 1rem !important;
    margin-top: -0.51rem !important;
}

.p-button-tiny{
    padding: 0.1rem 0.7rem !important;
}
.p-button-tiny .pi{
    font-size: 0.95rem  !important;
}
.primevue table td, .primevue table th{
    vertical-align: middle !important;
}

.p-datatable .p-inputswitch{
    display: block !important;
}

.p-datatable .p-datatable-tbody > tr.p-highlight{
    background: var(--blue-50) !important;
    color: var(--text-color) !important;
}

.p-highlight .p-checkbox .p-checkbox-box{
    border-color: var(--blue-600) !important;
}

.p-toast{
    z-index: 1000 !important;
}

.p-container-toasts .p-toast-summary{
    display: none !important;
}

.p-container-toasts .p-toast-detail{
    margin: 0.2rem 0 0 0 !important;
}


.p-container-toasts .p-toast-message-content
{
    padding: 0.7rem !important;
}

.p-container-toasts .p-toast-message-icon
{
    display: none !important;
}

.p-component-overlay-enter{
    z-index: 40 !important;
}

.p-sidebar-active{
    z-index: 50 !important;
}

.p-container-message .p-message-text{
    width: 100%  !important;
}
