body{
  background-color: #f9f9f9;
}
.alert ul{
  margin: 0px 10px;
  padding: 0px;
}

.navbar-search{
  z-index: 1000;
}

.show{
  display: block !important;
}

.hide{
  display: none !important;
}

.aside{

}

.aside .aside-body{
  background-color: #fff;
}

.bg-success-9{
  background-color: #e5f9ee;
}


.admin-menus ul, .admin-menus li{
  list-style: none;
}

.admin-menus>div>ul{
    padding: 0px;
    margin: 0px;
}
.admin-menus>div>ul>li>div ul{
    padding: 0px;
    margin: 0px 0px 0px 10px;
}

.table-search .form-control{

    border:none;
    border-radius: 0px;
    height: 1.8rem;
    line-height: 1.8rem;

}

.table-search .btn{

    border:none;
    border-radius: 0px;
    height: 1.5rem;
    line-height: 1.5rem;

}


.btn-card{

    padding: 0px 8px 0px 8px;
    color: #9e9e9e;

}

.btn-card i{

    font-weight: 600;
    cursor: pointer !important;


}

.btn-card:hover{
    color: #555;
}

.table-form{
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    line-height: 1.8rem;
}

.table-form-dashed, .table-form-dashed tr, .table-form-dashed td, .table-form-dashed th{

    border-top: 1px dashed rgba(72, 94, 144, 0.16);
    border-bottom: 1px dashed rgba(72, 94, 144, 0.16);
    border-left: 0px;
    border-right: 0px;
    border-collapse: collapse;
}

.table-form tr td{

    padding: 0px 0px 0px 8px;
    line-height: 1.8rem;


}

.table-form tr td span{

    padding: 0px 0px 0px 8px;
    line-height: 1.8rem;


}


.table-form .form-control, .table-form .custom-select, .table-form .vdp-datepicker input{

    border:none;
    border-radius: 0px;
    height: 1.7rem;
    line-height: 0.8rem;
    padding-left: 8px;
    font-size: 0.775rem;

}

.table-form .vdp-datepicker .form-control:disabled, .form-control[readonly]
{
    background-color: #fff !important;;
}

.table-form .vdp-datepicker__calendar .cell
{
    height: 30px;
    line-height: 30px;
}

.table-form .tr__disabled,
.table-form .tr__disabled input,
.table-form .tr__disabled select,
.table-form .tr__disabled textarea
{
    background-color: #cdcece !important;
}

.table-form-view tbody tr input:disabled, input[readonly],
.table-form-view tbody tr select:disabled, select[readonly]
{
    background-color:#fff !important;
    color: #1b2e4b;
}

.table-form-view tbody tr:nth-of-type(2n+1) input:disabled, input[readonly],
.table-form-view tbody tr:nth-of-type(2n+1) select:disabled, select[readonly]
{
    background-color:#f3f4f7 !important;
    color: #1b2e4b;
}

.card-header .dropdown-toggle::after
{
    display: none !important;
}


.table-sortable > thead > tr > th {
    background-color: #f3f4f7;
}

.table-sortable .table-search {
    background-color: #fff;

}

.table-sortable .table-search .btn{
    background-color: #fff;

}

.table-sortable > thead > tr > th.sortable {
    cursor: pointer;
    position: relative;
    background-color: #f3f4f7;
}

.table-sortable > thead > tr > th.sortable:after,
.table-sortable > thead > tr > th.sortable:after,
.table-sortable > thead > tr > th.sortable:after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    right: 10px;
    top: 12px;
}

/* Default sortable indicator */
.table-sortable > thead > tr > th.sortable:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    border-bottom: 0px solid transparent;
}
/* !Default */

/* Default sortable indicator:hover */
.table-sortable > thead > tr > th.sortable:hover:after {
    border-top: 5px solid #888;
}
/* !Default:hover */

/* Ascending sortable indicator */
.table-sortable > thead > tr > th.sortable.asc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 5px solid #333;
}
.table-sortable > thead > tr > th.sortable.asc:hover:after {
    border-bottom: 5px solid #888;
}
/* !Ascending */

/* Descending sortable indicator */
.table-sortable > thead > tr > th.sortable.desc:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    border-bottom: 5px solid transparent;
}
/* !Descending */



.btn-tiny{
    font-size: 10px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
    padding: 2px 8px;
    border-radius: 3px;
    border: 0px;
}

.text-copyable{
    padding: 2px 4px;
    display: inline-block;
}


.text-copyable i{
    text-align: right;
    opacity: 0;
    display: inline-block;
}

.text-copyable:hover{

}

.text-copyable:hover i{

    opacity: 1;
}


.navbar-app{

    padding: 0px 20px;
    border-bottom: 0;
    border-top: 0px;
    box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
    background-color: #fff;

}

.navbar-app .navbar-brand
{
    padding-top: 0px;
    padding-bottom: 0px;

}

.navbar-app .navbar-nav .nav-separator{
    display: block;
    border-left: 1px solid rgba(72, 94, 144, 0.16);

}

.navbar-app .navbar-nav .nav-link {
    color: #777;
}


.navbar-app .navbar-nav .nav-link:hover{
    color: #000;
}

.navbar-app .navbar-nav .nav-link.router-link-exact-active, .navbar-app .navbar-nav .nav-link.active{
    color: #000;
    background-color: #f4f5f8 !important;

}