body{
  background-color: #f9f9f9;
}
.alert ul{
  margin: 0px 10px;
  padding: 0px;
}

.navbar-search{
  z-index: 1000;
}

.show{
  display: block !important;
}

.hide{
  display: none !important;
}

.aside{

}

.aside .aside-body{
  background-color: #fff;
}

.bg-success-9{
  background-color: #e5f9ee;
}


.admin-menus ul, .admin-menus li{
  list-style: none;
}

.admin-menus>div>ul{
    padding: 0px;
    margin: 0px;
}
.admin-menus>div>ul>li>div ul{
    padding: 0px;
    margin: 0px 0px 0px 10px;
}

.table-search .form-control{

    border:none;
    border-radius: 0px;
    height: 1.8rem;
    line-height: 1.8rem;

}

.table-search .btn{

    border:none;
    border-radius: 0px;
    height: 1.5rem;
    line-height: 1.5rem;

}


.btn-card{

    padding: 0px 8px 0px 8px;
    color: #9e9e9e;

}

.btn-card i{

    font-weight: 600;
    cursor: pointer !important;


}

.btn-card:hover{
    color: #555;
}

.table-form{
    border-bottom: 1px solid rgba(72, 94, 144, 0.16);
    line-height: 1.8rem;
}

.table-form-dashed, .table-form-dashed tr, .table-form-dashed td, .table-form-dashed th{

    border-top: 1px dashed rgba(72, 94, 144, 0.16);
    border-bottom: 1px dashed rgba(72, 94, 144, 0.16);
    border-left: 0px;
    border-right: 0px;
    border-collapse: collapse;
}

.table-form tr td{

    padding: 0px 0px 0px 8px;
    line-height: 1.8rem;


}

.table-form tr td span{

    padding: 0px 0px 0px 8px;
    line-height: 1.8rem;


}


.table-form .form-control, .table-form .custom-select{

    border:none;
    border-radius: 0px;
    height: 1.7rem;
    line-height: 0.8rem;
    padding-left: 8px;
    font-size: 0.775rem;

}


