@function valueFromArray($arr, $key) {

    @each $value, $index in $arr {
        @if($key == $index )
        {
            @return $value;
        }
    }
    @return null;
}

@function findLighterColor($color, $light: 96%){
    @if(type-of($color) == 'color'){

        $result: null;

        //@debug "Color: #{$color} | Light: #{$light} | Lightness: #{lightness($color)}";

        $result: change-color($color, $lightness: $light);

        //@debug "result --> #{$result}";

        @return $result;
    }
}

@function findDarkColor($color, $dark: 29%){
    @if(type-of($color) == 'color'){

        $base-l: $dark;
        $luminance: colorLuminance($color);
        $luminance-delta: (0.53 - $luminance);
        $target-l: round($base-l + ($luminance-delta * 53));

        $result: change-color($color, $lightness: max($base-l, $target-l));

        //@debug "result --> #{$result}";

        @return $result;
    }
}
