.filepond--wrapper{

    .filepond--root{
        margin-bottom: 0;
    }

    .filepond--drop-label{
        border: 1px dashed $grey-light;
        border-radius: $default-border-radius;
        background: $white;
    }

}
