$vh-default-border-color: #e4e4e4;
$docs-heading-text-color: #000;
$docs-black-text-color: #000;
$docs-black-text-color-light: #555;
$docs-code-bg: #f8f8f8;
$docs-code-border-color: $vh-default-border-color;
$docs-code-gray-dark: #777777;

$directions: ("top", "right", "bottom", "left");
