$default-box-shadow-color: rgba(210, 215, 226, 1);
$default-box-shadow:  0 0 0.438rem 0.125rem $default-box-shadow-color;


$screens: ('mobile': 320, 'tablet': 1024px, 'widescreen': 1216px);

$screens-mobile: 320px;
$screens-tablet: 1024px;
