.field{

    &.is-view{

        border-bottom: $default-border;

        &.is-floating-label .label
        {
            left: 0;
        }

    }

    &.has-addons{
        .control{
            .button{

                @each $name, $pair in $colors {

                    $color: nth($pair, 1);
                    //$color: findLighterColor($color, 80%);

                    $color: darken($color,8%);

                    &.is-#{$name}
                    {
                        border-color: $color !important;
                    }

                }

            }
        }
    }

}
